:root{
    --primary: #0d0d0d;
    --primary-light: #343434;
    --primary-dark: #000000;
    --secondary:#2e2e2e ;
    --secondary-light: #575757;
    --secondary-dark: #030303;
    --primary-text: #FFF;
    --secondary-text: #FFF;
    --white-text: #0d0d0d;
}